@font-face {
    font-family: Inter;
    src: url("https://your-font-file-host/inter.css");
}

body {
    font-family: 'Inter var', sans-serif;
    text-align: center;
    background-color: #131313;
}

/* Line divider length */
hr {
    width: 50vw;
}

p {
    color: white;
}

/* --- HEADER --- */

.logo {
    fill: white;
}

/* Accesses the ID title by using #<id> */
#title {
    color: white;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#description {
    margin-top: 1vh;
    margin-bottom: 5vh;
}

#countdown {
    font-size: 3vh;
    font-weight: bold;
}

/* --- GAME BOARD --- */

#board {
    width: 360px;
    height: 420px;
    margin: 0 auto;
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
}


/* Classes are accessed via . notation */
.tile {
    /* One char box */
    border: 2px solid #1C1C1C;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter var', sans-serif;
    display: flex;
    /* Justify is x axis, align is y axis */
    justify-content: center;
    align-items: center;
}

.correctLetter {
    background-color: #447d3f;
    color: white;
    border-color: #1C1C1C;
}

.presentInWord {
    background-color: #b1982c;
    color: white;
    border-color: #1C1C1C;
}

.absentFromWord {
    background-color: #582727;
    color: white;
    border-color: #1C1C1C;
}

/* --- KEYBOARD ROW --- */

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid #1C1C1C;

    /* Text */
    font-family: 'Inter var', sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 72px;
    height: 40px;
    margin: 1px;
    border: 1px solid #1C1C1C;

    /* Text */
    font-family: 'Inter var', sans-serif;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.key-tile:hover, .enter-key-tile:hover {
    font-weight: 700;
}